@import "../../mixins.scss";

.posterBlock {
    .lazy-load-image-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .circleRating {
        width: 40px;
        height: 40px;
        position: relative;
        top: 30px;
        background-color: white;
        flex-shrink: 0;
        @include md {
            width: 50px;
            height: 50px;
        }
    }
    .genres {
        display: none;
        position: relative;
        @include md {
            display: flex;
            flex-flow: wrap;
            justify-content: flex-end;
        }
    }
}