.circleRating {
    .CircularProgressbar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--black);
        
    }

    .CircularProgressbar-trail {
        stroke: transparent;
    }
}